* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F1F8FF;
    font-family: 'lato', sans-serif;
    font-size: 1.25rem;
    overflow-x: hidden;
}

section{
    margin: 64px 80px;
}

h2{
    color: #3498DB;
    margin-bottom: 20px;
}

#header-container {
    display: flex;  
    justify-content: space-between;
    width: 100vw;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    box-shadow: 0 2px 5px #d9d9d9;
    position:sticky top;
    padding: 10px 40px;

    
}

#header-container img {
    width: 100px;
}

.nav-link ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
}

.nav-link li, a{
    list-style: none;
    text-decoration: none;
    color: #252525;
    text-align: center;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-width: 0px;
    background-color:#3498DB;
    color: #fff;
}

button a{
    color: white;
}



.hamburger-icon{
    display: none;
}

#hero{
    display: flex;
    flex-direction: row;
    margin: 64px 80px;
    gap:100px;
    width: auto;
}

.hero-img :nth-child(1) {
    width: 400px;
    position: absolute;
}

.hero-img :nth-child(2){
    width: 300px;
    position: relative;
}

.hero-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.hero-text h1{
    font-size: 3rem;

}

.hero-text p{
    background-color: #ffffff;
    border: 1px solid #3498DB;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    color: #0265a6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.hero-button{
    display: flex;
    gap: 10px;
}

.technologies{
    display: flex;
    flex-direction: row;
    gap: 110px;
    width: max-content;
    font-size: large;
    color: #686868;
    margin: 150px 0px 64px 0px;
    padding: 20px 20px;
    background-color: #b5d2e4; 
}

#about{
    display: flex;
    flex-direction: column;
    
}

.about-me{
    display: flex;
    gap: 300px;
}

.about-text{
    align-self: center;
}

.what-i-can-do{
    display: flex;
    flex-direction: column;
}

.wicd-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
